<!-- 
  <h2>Title: [(task.title)]</h2>
  <div>ID: {{task.id}}</div>
  <div>Start Date: {{task.startDate}}</div>
  <div>End Date: {{task.endDate}}</div>
  <div>Status: {{task.status}}</div>
  <div>Description: {{task.description}}</div> -->
<form autocomplete="off" #editTaskForm="ngForm" (ngSubmit)="editTask(editTaskForm.value)" novalidate>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" [(ngModel)]="task.title" name="task.title">
  </div>
  <div class="form-group">
    <label for="id">ID:</label>
    <input type="text" [(ngModel)]="task.id" name="id">
  </div>
  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <input type="text" [(ngModel)]="task.startDate" name="startDate">
  </div>
  <div class="form-group">
    <label for="endDate">End Date:</label>
    <input type="text" [(ngModel)]="task.endDate" name="endDate">
  </div>
  <div class="form-group">
    <label for="status">Status:</label>
    <input type="text" [(ngModel)]="task.status" name="status">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" [(ngModel)]="task.description" name="description">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="editTaskForm.invalid">Save</button>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

</form>